/* regole di debug */
[class*="col-"] {
  min-height: 60px;
  /* background-color: lightgreen;
  border: 1px solid black; */
}


.row .col-6 div
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* regole di debug */

/* regole generali */
h1{
  text-align: left;

}

h2,h3,p{
  text-align: center;
}

ul{
  list-style: none;
  padding-inline-start: 0px;
}

/* nav section */

.navbar-default {
    background-color: white;
    border-color: white;
}

.logo-nav{
  height: 28px;
  margin-right: 160px;
}

.sign-up{
  margin-top: 8px;
  color: #006AFF;
  background-color: #fff;
  border-color: #006AFF;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* section 1 */

.background-section1{
  background-image: url(../img/bg-home-hero-3.svg);
  background-size: cover;
  min-height: 300px;
  width: inherit;
  background-position: bottom;
}

.sign-up-form{
  width: 90%;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 30px;
}

.sign-up-form h2:first-child{
  color: #394C72;
  font-weight: bolder;
  font-size: 30px;
}

.sign-up-form h2:nth-child(2){
  color: #006AFF;
  font-weight: bolder;
  font-size: 30px;
}

.create-account-button{
  width: 100%;
  border: none;
  color: white;
  background-color: #1633FF;
  margin-bottom: 10px;
}

.google-button{
  width: 100%;
  border: none;
  color: grey;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 2px 2px lightgrey;
}

#jumbo-left-col h1:first-child{
  font-size: 70px;
  color: white;
  padding-top: 20px;
  padding-left: 18px;
}

@media (max-width: 768px){
  #jumbo-left-col h1:first-child{
    font-size: 40px;
  }
}


#jumbo-left-col h3:nth-child(2){
  color: lightgrey;
  text-align: left;
  padding-left: 25px;
  padding-right: 40px;
}

@media (max-width: 768px){
  #jumbo-left-col h3:nth-child(2){
    font-size: 20px;
  }
}
input[type=email] , input[type=password]{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
}


/* section 2 */

.background-section2{
  background-color: #F3F5F9;
  min-height: 200px;
  width: inherit;
}

.logo-img{
  width: 140px;
  height: 77px;
  margin: 0 auto;
}

@media (max-width: 576px){
  .logo-img{
    width: 120px;
    height: 57px;
    margin: 0 auto;
  }
}


.section2 h3:first-child{
  font-size: 14px;
  font-weight: bolder;
  color: #707C98;
  padding-top: 10px;
  padding-bottom: 20px;
}

.section2 a:last-child{
  display: block;
  text-align: center;
  font-weight: bolder;
  padding: 20px 0;
}

/* section 3 */

.background-section3{
  min-height: 200px;
}

.background-section3 h2{
  padding-top: 40px;
  font-weight: bolder;
  color: #031B4E;
}

.background-section3 h3{
  font-weight: bolder;
  padding-bottom: 35px;
  color: #707D9A;
  font-size: 19px;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
}

.vertical-row{
  border-right: 1px solid #707D9A;
  width: 5px;
  min-height: 120px;

}

.vertical-row>ul>li{
  padding-top: 10px;
  padding-bottom: 5px;
  color: #707D9A;
  font-size: 18px;
  margin-left: 13px;
}

#icons-section *{
  text-align: left;
}

#icons-section h4
{
  color: #261783;
  font-weight: bolder;
}

#icons-section p{
  font-weight: bolder;
  padding-right: 10%;
  color: #707D9A;
}

#icons-section{
  padding-bottom: 40px;
}

/* section 4 */
.background-section4{
  background-color: #F3F5F9;
  min-height: 200px;
  width: inherit;
  padding-bottom: 40px;
}

.background-section4 h2{
  color: #261783;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 10px;
}

.background-section4 h3{
  color: #707D9A;
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 40px;
}

.img-carousel{
  width: 500px;
  min-height:300px;
  margin: auto;
}

.carousel-control.right{
  background-image: none;
}

.carousel-control.left{
  background-image: none;
}

.carousel-inner p:nth-child(3){
  text-align: center;
  color: blue;
  font-weight: bolder;
  padding-top: 25px;
}

/* section 5 */
.background-section5{
  min-height: 300px;
  padding-bottom: 80px;
}

.background-section5 h2{
  color: #261783;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 20px;
}

.background-section5 h4{
  color: #261783;
  font-size: 18px;
  font-weight: bolder;
}

.background-section5 p{
  font-weight: bolder;
  color: #707D9A;
  text-align: left;
}

/* section 6 */

.background-section6{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(29,24,128,0.9895308465182948) 100%);
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.background-section6 h2{
  color: white;
  font-weight: bolder;
  padding-bottom: 15px;
}

.table{
  color: white;
}

.table a{
  color: lightblue;
}

/* section 7 */
.background-section7{
  background-color: #F3F5F9;
  min-height: 500px;
  width: inherit;
  padding-top: 40px;
  padding-bottom: 30px;
}

.background-section7 h2{
  color: #261783;
  font-weight: bolder;
  padding-bottom: 40px;
}

.seconda{
  margin-bottom: 60px;
}

/* section 8 */

.background-section8{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(29,24,128,0.9895308465182948) 100%);
  min-height: 200px;
}

.background-section8 h2:first-child{
  color: white;
  font-weight: bolder;
  padding-top: 55px;
  margin: 0;
}

.create-your-account{
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: bolder;
  color: #98C6FD;
  padding: 12px 15px;
  margin-top: 25px;
}

/* footer */
.background-footer{
  background-color: #031C4E;
  min-height: 400px;
}

.footer-section{
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-section h4{
  color: white;
  font-size: 18px;
}

.footer-section p{
  text-align: left;
  margin-top: 10px;
  color: #7A859D;
}

.footer-list li>a{
  color: #5E6676;
  font-size: 15px;
  line-height: 1.8;
}

.social-icons li{
  display: inline-block;
  text-align: left;

  font-size: 25px;
  margin-right: 15px;
}

.social-icons li>a{
  color: #7A859D;
}
